<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    
    <div id="app">

        <div class="container pt-5">

            <h2 v-bind:title="time">{{ title }}</h2>
            <ul>
                <li v-for="user in users">
                    {{ user.name }}: ${{ user.balance }}
                </li>
            </ul>

            <div>Total balance: $
                <strong>{{ totalBalance }}</strong>
            </div>

            <br>

            <button v-on:click="resetBalances" class="btn btn-primary">Reset balances</button>

            <br>
            <br>

            <div v-if="lowBalance" class="alert alert-danger">Balances are low.</div>

            <hr class="my-5">

            <div class="row">
                <div class="col">
                    <h5>Edit</h5>
                    <textarea name="notes" id="" cols="30" rows="3" placeholder="Notes" v-model="notes" class="form-control"></textarea>
                </div>
                <div class="col">
                    <h5>Preview</h5>
                    <div>{{ notes }}</div>
                </div>
            </div>

        </div>
    </div>
    
    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'Accounts',
                users: [
                    { name: 'Jonny', balance: 25 },
                    { name: 'Bob', balance: 5 },
                    { name: 'Jane', balance: 500 },
                ],
                time: "Last updated: " + new Date().toLocaleString(),
                notes: "",
            },
            computed: {
                // totalBalance: function() {
                //     return this.users.reduce( function(prev, curr) {
                //         return prev + curr.balance;
                //     }, 0);
                // }
                totalBalance() {
                    return this.users.reduce( (prev, curr) => prev + curr.balance, 0 )
                },
                lowBalance() {
                    return this.totalBalance < 500;
                }
            },
            methods: {
                resetBalances: function() {
                    this.users.forEach( (user) => { user.balance = 0 } )
                }
            }
        });


        Vue.component('user', {
            template: ""
        })

    </script>
</body>
</html>